<table>

<div id="globalfooter"><p class="gf-buy"> I am Yuvraj belong to planet earth. My address is 127.0.0.1. My religion is Unix. My gender is Ubuntu . You can call me psycho. But i am happy with it</p><br>
<div class="gf-sosumi"><p></p><center>Copyright © 2015 ITbooks  – All rights reserved. 
</center><p></p></div></div>
</div>
</div>


</html>
