
<!DOCTYPE html><html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= metaTitle %></title>


<link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/tsc_sitesearch.css"/>
 
 

  
</head><body><div id="fb-root"></div>

<div id="wrapper">
    
<div id="content">
   
<nav><center><ul id="appleNav"> 
<li class=""><a href="/" title="Songslover">Home</a></li>
<li class=""><a href="/search/php/1" title="PHP">PHP</a></li>
<li class=""><a href="/search/mysql/1" title="MYSQL">MYSQL</a></li>
<li class=""><a href="/search/java/1" title="JAVA">JAVA</a></li>
<li class=""><a href="/search/kali/1" title="Kali">Kali</a></li>
<li class=""><a href="/search/Node.js/1" title="Nodejs">Node Js</a></li>
<li class=""><a href="/search/android/1" title="Android">Android</a></li>
<li class=""><a  href="/search/ios/1" title="ios">ios</a></li>
<li class=""><a target="_blank" href="https://github.com/yuvraj6" title="Contact Us">Contact Me</a></li>
</div> 

</ul>
  </center>  
</nav>
