<!doctype html>


<!-- Declares Hash Lucy as the starting Angular module -->
<html class="no-js" ng-app="HashLucy">
<head>
    <meta charset="utf-8">
    <title>Near You</title>
  
  
  
  

    <meta name="description" content="Testing">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
<script>
 var socket = io.connect('http://localhost:3000');
 socket.on('check', function(data){
        
         data.forEach(function(d){
     
  if(d.m==1){
  $("#speed_"+d.id).text(d.speed);
  $("#speed_"+d.id).css("background-color", "red");
  }else{
  $("#speed_"+d.id).text(d.speed);
  $("#speed_"+d.id).css("background-color", "green");
  }
  });
      });



</script>


</head>

<body >

<div class="container">
    <!-- Header Menu. Note use of headerCtrl -->
    <div class="header">

        <!-- Header items are made active upon selection -->
        <ul class="nav nav-pills pull-right">
             <li >
             <div class="row">
      
    <!-- Our Special dropdown has class show-on-hover -->
       <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" id="notification">
            <li><a href="#">Action</a></li>
            <li><a href="/" >Monitor</a></li>
            <li><a href="/add" >Add</a></li>
            <li><a href="/notify" >Notification</a></li>
          </ul>
        </div>

  </div>
  <br />
             
             </li>
        </ul>

        <!-- Header Title -->
        <h3 class="text-muted">Near You</h3>
    </div>

    
    <div class="row content">

       
        <div class="col-md-12">
          


 <div class="container">
    <div class="row">
        <form role="form" action="/add_trip" method="post">
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Client Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="clientName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Vehicle number</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputEmailFirst" name="vehicleNumber" placeholder="Vehicle number" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">From</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputEmailSecond" name="from" placeholder="From" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">To</label>
                    <div class="input-group">
                         <input type="text" class="form-control" id="InputEmailSecond" name="To" placeholder="To" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Temp range</label>
                    <div class="input-group">
                         <input type="text" class="form-control" name="low" placeholder="Start"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" name="high" placeholder="End"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
            
        </form>
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>
            </div>
        </div>
    </div>
</div>


        </div>

       
       

    </div>
    <hr/>

    <!-- Footer -->
    <div class="footer">
         </div>

</div>
 <div class='notifications top-left'></div>
</body>
</html>
